* {
  box-sizing: border-box;
}

/* header styling */
header {
  align-items: end;
  display: flex;
  justify-content: space-between;
}
.heading {
  font-size: 30px;
  margin-left: 40px;
}
h1 a {
  text-decoration: none;
}
.navbar {
  margin-top: 25px;
  margin-right: 40px;
}
.navbar p {
  font-size: 35px;
  display: inline-block;
  padding: 0 10px;
}

/* dogs styling */
.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
img {
  width: 100%;
  height: auto;
}
.dog-profile {
  width: 350px;
  padding: 20px;
}
.main p {
  font-size: 25px;
  text-align: center;
}
.main img,
.main p {
  cursor: pointer;
}
