/* global styling */
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}


/* font sizes */
h1,h2,a{
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 600;
    font-style: normal;
    color: black;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    text-decoration: underline;
    font-style: italic;
    padding-left: 30px;
    font-family: monospace;
    font-size: 22px;
}
p{
    font-family: "Gentium Plus", serif;
    font-size: 20px;
}
a{
    font-size: 25px;
}
a:hover{
    background-color: yellow;
}

img{
    padding: 25px
}

/* sticky styling */
.sticky{
    position:sticky;
    background-color: white;
    top: 0;
  }
  .main-links{
    position:sticky;
    background-color: white;
    top: 150px;
  }

/* heading styling */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 2px solid black;

}
.heading-title,
.heading-links{
    margin: 0px 0px;
}
.heading-title{
    display: flex;
}
.heading-title img{
    width: 120px;
}
.heading-links{
    display: flex;
    gap: 30px;
}

/* aside styling */
.main-index{
    display: flex;
}
.main-links{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.main-content{
    flex: 6;
    top: 100px;
    border-left: 2px solid black;
}
.main-links,
.main-content{
    padding: 30px 50px;
}

/* main links styling */
.main-links li{
    padding: 15px 15px;
    list-style-type: disclosure-closed;
}
.main-links ul{
    margin-top: 30px;
}


/* content */
.content-box--left{
    display: flex;
}
.content-box--right{
    display: flex;
    flex-direction: row-reverse;
}

.main-content > div {
    /* border: 1px solid red; */
    border-bottom: 1px solid black;
}

.content-section{
    scroll-margin-top: 145px;
}


/* dogs.html styling */
.dogs-content{
    display: flex;
    margin: 0 10px;
}

.scroll-links{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 150px;

}
.scroll-links a{
    font-size: 24px;
}

.breeds-links{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 170px;
}
.breeds-links img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.breed-box p{
    text-align: center;
    margin-top: -15px;
    font-size: 24px;
}
